# /wealth-advisor/requirements.txt

google-generativeai==0.5.4
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-run
google-auth
requests
gunicorn
pandas
flask
websockets
google-cloud-secret-manager
google-cloud-discoveryengine
google-generativeai