# /wealth-advisor/requirements.txt

google-cloud-aiplatform
google-cloud-bigquery
google-cloud-run
google-auth
requests
gunicorn
pandas
flask
google-cloud-secret-manager
google-cloud-discoveryengine
google-api-python-client
google-adk